/* Common Shared Styles */
* {
       font-family: 'Open Sans', sans-serif;
}

.text-primary {
       color: #FD6E0A;
}

.btn-primary {
       cursor: pointer;
       border-radius: 5px;
       background: #FD6E0A;
       border: 0px;
       color: white;
       font-size: 20px;
       font-weight: 700;
       padding: 15px 35px;
}

.section-title {
       color: var(--dark-01, #181818);
       text-align: center;
       font-size: 35px;
       font-weight: 700;
       line-height: normal;
       font-style: normal;
}

.section-description {
       color: var(--dark-03, #757575);
       text-align: center;
       font-size: 18px;
       font-style: normal;
       font-weight: 400;
       line-height: 30px;
}

/* Nav Related Styles*/

.nav-title {
       color: var(--dark-01, #181818);
       font-size: 45px;
       font-style: normal;
       font-weight: 800;
       line-height: normal;
}

nav {
       align-items: center;
       justify-content: space-between;
       display: flex;
       margin: 0 200px;
}

nav>ul {
       align-items: center;
       display: flex;
}

nav li {
       list-style: none;
       margin-right: 50px;
}

nav li a {
       text-decoration: none;
       color: var(--dark-02, #474747);
}

/* Header Related Styles*/
.header {
       background-color: #FFF8F3;
       background-image: url('./images/header_bg.png');
       background-repeat: no-repeat;
       background-position: bottom right;
}

.banner {
       align-items: center;
       display: flex;
       padding: 30px 30px 0px 150px;
       justify-content: space-between;
}

.banner-content {
       max-width: 500px;
}

.profile-picture {
       width: 500px;
}

.banner-greeting {
       margin-top: 0;
       margin-bottom: 0;
       font-size: 45px;
       color: var(--dark-02, #474747);
       font-style: normal;
       font-weight: 600;
}

.banner-title {
       margin-top: 5px;
       font-size: 85px;
       font-weight: 700;
       margin-bottom: 20px;
       color: var(--dark-01, #181818);
       line-height: normal;
}

/* Main Section Styles*/
main {
       max-width: 1140px;
       margin: 0 auto;
}

main section {
       margin-top: 130px;
}

.banner-description {
       color: var(--dark-03, #757575);
       font-size: 18px;
       line-height: 30px;
       font-weight: 400;
}

/* About Section Styles*/
.about {
       padding: 130px;
       border-radius: 10px;
       background: #FFF8F3;
       margin: 130px 0;
}

.about-info-container {
       display: flex;
       justify-content: space-around;
}

.about-info {
       text-align: center;
}

.info-title {
       color: var(--dark-03, #757575);
       text-align: center;
       font-size: 17px;
       font-weight: 400;
}

.info-description {
       color: var(--dark-02, #474747);
       font-family: Open Sans;
       font-size: 19px;
       font-weight: 700;
}

/* Skills Related Styles*/
.what-i-do {
       padding: 30px 150px;
}

.skills-container {
       display: flex;
       gap: 24px;
}

.skill {
       border-radius: 5px;
       background: #FFF;
       box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
       text-align: justify;

       padding: 30px;
}

.skill-description {
       color: var(--dark-03, #757575);
       font-size: 16px;
       font-weight: 400;
       line-height: 28px;
}

/* Resume Section Styles*/
.resume-column-title {
       color: var(--dark-02, #474747);
       font-size: 30px;
       font-weight: 700;
}

.resume-container {
       display: flex;
       gap: 50px;
}

.resume-item-title {
       color: var(--dark-02, #474747);
       font-size: 25px;
       font-weight: 700;
       margin-bottom: 10px;
}

.resume-item-institute {
       color: var(--dark-03, #757575);
       font-size: 20px;
       font-weight: 600;
       margin-bottom: 20px;
       margin-top: 0px;

}

.resume-item-description {
       color: var(--dark-03, #757575);
       font-size: 16px;
       line-height: 28px;
}

.resume-container hr{
       margin: 30px 0px;
}

.download-cv{
       text-align: center;
       margin-top: 50px;
}

/* Footer Section Styles*/
footer{
       display: flex;
       background: #FFF8F3;
       padding: 130px 200px;
       margin-top: 100px;
}